@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

/* ====================================================================================== */
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: rgb(0, 7, 70);
	font-family: 'Montserrat', sans-serif;
	/* background: #1f1f1f; */
}
body.lock {
	overflow: hidden;
}
._container {
	max-width: 1206px;
	padding: 0 15px;
	margin: 0 auto;
}
._title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	object-fit: cover;
}

/* ========================================================================================= */

.header {
	background-image: url(./img/bg2.jpeg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	/* background-size: 925px 516px; */
	height: 100vh;
	position: relative;
}
@media (max-width: 479px) {
	.header {
		height: 80vh;
	}
}
.background {
	background-color: rgba(0, 0, 0, 0.568);
	height: 100vh;
}
@media (max-width: 479px) {
	.background {
		height: 80vh;
	}
}
.header__container {
}
.header__body {
	padding: 15px 10px 5px 0;
	min-height: 105px;
	display: flex;
	align-items: center;
	/* background-color: rgba(247, 247, 247, 0.397);
	border-radius: 0 0 5px 5px; */
}
.header__mein{
	flex: 0 1 75%;
	display: flex;
	/* justify-content: space-evenly; */
	align-items: center;

}
@media (max-width: 1100px) {
	.header__mein {
		flex: 0 1 65%;
	}
}
@media (max-width: 880px) {
	.header__mein {
		flex: 0 1 60%;
	}
}
.menu__logo img {
	width: 180px;
	margin-right: 60px;
}

/* .menu__logo {
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 4px;
}
.menu__logo h1 {
	text-align: center;
}
@media (max-width: 767px) {
	.menu__logo {
		font-size: 28px;
	}
} */
.header__menu {
	flex: 0 1 50%;
}
@media (max-width: 1100px) {
	.header__menu {
		display: none;
	}
}
.menu {
}
.menu__body {
}

.menu__list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.menu__item {

}
.menu__link {
	color: white;
	line-height: calc(20 / 14 * 100%);
	cursor: pointer;
}
.menu__link:hover {
	text-decoration: underline;
}
.header__number {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 1 auto;
}
.header__feedback {
	margin: 20px 0 0 0;
	padding: 7px 10px;
	justify-content: center;
	border-radius: 7px 0 7px 0;
	/* background-color: #ff5722; */
	background-color: rgb(1, 165, 1);
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.header__feedback:hover {
	background-color: #fff;
	color: rgb(1, 165, 1);
}
.header__phone {
	/* color: rgb(0, 7, 70); */
	color: white;
	transition: all 0.3s ease 0s;
	font-size: 20px;
}
@media (max-width: 767px) {
	.header__phone {
		display: none;
	}
}
.header__phone:hover {
	color: rgb(253, 253, 253);
}
.header__language button {
	color: white;
	padding: 5px;
	background-color: inherit;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.header__language button:hover {
	background-color: #fff;
	color: rgb(0, 7, 70);
	border-radius: 4px;
}
@media (max-width: 767px) {
	.header__language button {
		display: none;
	}
}
/* ===================================================================================== */
.page {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0 0 50px 0;
}
.offer {
	margin-top: -520px;
}
@media (max-width: 767px) {
	.offer{
		top: 30%;
	}
}
.offer__row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
}
.offer__title {
	display: flex;
	flex: 1 1 auto;
}
.offer__title h2{
	font-size: 52px;
	max-width: 600px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 5px;
	color: rgb(245, 245, 245);
	text-shadow: 7px 7px 4px black;
}
@media (max-width: 767px) {
	.offer__title h2 {
		font-size: 42px;
	}
}
@media (max-width: 479px) {
	.offer__title h2 {
		font-size: 32px;
		line-height: 40px;
	}
}
.offer__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -30px;
	min-width: 0;
}
.offer__slider {
	max-width: 390px;
}
.swiper-container {
	position: relative;
}
.offer__wrapper {
	
}
.swiper-wrapper {
}
.offer__slide {
	opacity: 0.4;
}
.offer__slide.swiper-slide-active {
	opacity: 1;
}
.swiper-slide {}
.offer__info {
	overflow: scroll;
	max-height: 195px;
	color: white;
}
.offer__info::after {
	position: relative;
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.486);
}
.offer__number {
	margin: 0 0 10px 0;
	color: rgb(1, 165, 1);
	font-size: 29px;
}
.offer__title {
	margin: 0 0 15px 0;
	font-size: 20px;
	color: rgb(143, 142, 142);
}
.offer__text {
	line-height: 27px;
}
.offer__buttons {
	display: flex;
}
.offer__button-left img {
	margin: 10px 30px 0 10px;
	cursor: pointer;
	background-color: inherit;
}
.offer__button-right img {
	margin: 10px 10px 0 30px;
	cursor: pointer;
	fill: rgb(0, 7, 70);
}


/* ========================================================================================= */
.page__about-us {
	margin-top: 220px;
}
.about-us {}
.about-us__title {
	
	margin-bottom: 70px;
}
.about-us__columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.about-us__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
	margin: 0 0 30px 0;
}
@media (max-width: 830px) {
	.about-us__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 570px) {
	.about-us__column {
		flex: 0 1 100%;
	}
}
.about-us__item {
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 2px rgba(224, 224, 224, 0.637);
	padding: 10px 0 10px 10px;
	background-color: rgb(143, 142, 142);
}
.about-us__item:hover {
	box-shadow: 1px 4px 7px 2px rgba(248, 229, 229, 0.911);
}
.about-us__img {
	margin-right: 20px;
}
.about-us__text {
	letter-spacing: 2px;
	text-transform: uppercase;
}
/* ===================================================================================== */


/* =================================================================================== */
.page__gallery {
	background: linear-gradient(135deg, rgba(255,255,255,1) 37%,rgba(229,229,229,1) 68%);
}
.gallery {}
.gallery__container {
	padding: 0 0 20px 0;
}
._container {}
.gallery__title {
	margin: 100px 0 20px 0;
}
.gallery__slider {
	position: relative;
	padding: 30px 0 70px 0;
}
@media (max-width: 650px) {
	.gallery__slider {
		padding: 20px 0 30px 0;
	}
}
.swiper-container {
	overflow: hidden;
}
.gallery__wrapper {}
.swiper-wrapper {}
.gallery__slide {}
.swiper-slide {
}
.gallery__image {
	text-align: center;
}
@media (max-width: 800px) {
	.gallery__image {
		position: relative;
		padding: 0 0 60% 0;
		overflow-x:hidden;
	}
}
@media (max-width: 800px) {
	.gallery__image img {
		max-height: 500px;
		max-width: 100%;
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.gallery__image img {
	max-height: 500px;
}
.gallery__slider .swiper-scrollbar-drag {
	background-color: rgb(83, 0, 190);
	cursor: pointer;
}
.gallery__mini-slide {
	opacity: 0.2;
	transition: opacity 0.3s ease 0s;
}
.gallery__mini-slide.swiper-slide-thumb-active {
	opacity: 1;
}
.gallery__mini-image {
	position: relative;
	padding: 0 0 40% 0;
	cursor: pointer;
	margin: 0 10px;
}
.gallery__mini-image img {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.swiper-button-prev {}
.swiper-button-next {}
/* ========================================================================================= */

.page__certificate {}
.certificate {}
.certificate__title {
	margin: 100px 0 40px 0;
}
.certificate__columns {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.certificate__column {
	flex: 0 1 33.333%;
}
.certificate__item img {
	box-shadow: 1px 1px 2px 1px rgb(112, 112, 112);
	width: 300px;
	height: 400px;
}
@media (max-width: 1030px) {
	.certificate__item img {
		width: 200px;
	height: 300px;
	}
}
@media (max-width: 700px) {
	.certificate__item img {
		width: 150px;
		height: 230px;
		margin: 0 10px 10px 10px;
	}
}

/* ============================================================================================= */

.footer {
	padding: 50px 0 100px 0;
	margin-top: 150px;
	background: linear-gradient(to bottom, rgba(110,129,155,1) 40%,rgba(7,11,12,1) 100%);
	background-attachment: fixed;
}
.footer__columns {
	display: flex;
	justify-content: space-evenly;
}
.footer__column {
	width: 30%;
}
.footer-phone {
	width: 23%;
	overflow: hidden;
}
.footer__title {
	color: rgb(248, 245, 245);
	font-size: 22px;
	margin: 0 0 30px 0;
}
.footer__text {
	color: rgb(180, 180, 180);
	line-height: 19px;
}
.footer__phone {
	display: block;
	color: rgb(180, 180, 180);
	transition: all 0.3s ease 0s;
	font-size: 20px;
	margin-bottom: 9px;
}
.footer__phone:hover {
	color: rgb(253, 253, 253);
}
.footer__mail {
	color: rgb(180, 180, 180);
}
.footer__mail:hover {
	color: rgb(253, 253, 253);
}
.footer__line {
	margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #f5f5f5;
}
/* ====================================================================== */
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.733);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease 0s;
}
.popup.open {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}
.popup.open .popup__content {
	opacity: 1;
	transform: translate(0px, 0px);
}
.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	background-color: #fff;
	padding: 30px 50px;
	border-radius: 7px;
	position: relative;
	transition: all 0.6s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content_image {
	padding: 0;
}
.popup__image img {
	max-width: 550px;

}
.popup-header__close {
	position: absolute;
	top: 2%;
	right: 2%;
	color: #000;
}
.popap-header__title {
	color: #A7ACAF;
	margin-bottom: 30px;
}
.popup-header__form {}
.popup-header__name,
.popup-header__number {
	background-color: #E9EFF7;
	border-radius: 10px;
	border: none;
	margin: 10px 0;
	padding: 5px 10px;
	width: 100%;
	font-size: 18px;
	border: 1px solid #E9EFF7;
}
.popup-header__name {}
.popup-header__number {}
.popup-header__button {
	color: #E9EFF7;
	background-color: #FF9D70;
	border-radius: 10px;
	border: none;
	margin: 10px 0;
	padding: 5px 10px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	cursor: pointer;
	font-size: 18px;
}
